<section>
    <div class="col-12 menu-section">
      <!-- <a
         mat-raised-button color="primary"
        click="openLoginDialogBox()">Log in
      </a> -->
      <button mat-raised-button (click)="openLoginDialogBox()">Log in</button>
    </div>
    <div class="description-section"></div>
    <div class="slogan">
      <h1><i>For the programmer, By the programmer</i></h1>
    </div>
</section>
<app-featured-ebook></app-featured-ebook>
<app-latest-blog></app-latest-blog>
<footer>
  <mat-toolbar>
    <div>

    </div>
    <div>
      Copyright 2022
    </div>
  </mat-toolbar>
</footer>
